In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({'id':[1,2,3,4,5], 'name': ['n1', 'n2', 'n3', 'n4', 'n5']}, columns=['id', 'name'])
df1

   id name
0   1   n1
1   2   n2
2   3   n3
3   4   n4
4   5   n5

In [3]:
map1 = pd.DataFrame({'id':[1,2], 'id_new':[7,8], 'name_new':['n7', 'n8']}, columns=['id', 'id_new', 'name_new'])
map1

   id  id_new name_new
0   1       7       n7
1   2       8       n8

In [5]:
df2 = df1.merge(map1, left_on = 'id', right_on='id', how='left')
df2

   id name  id_new name_new
0   1   n1     7.0       n7
1   2   n2     8.0       n8
2   3   n3     NaN      NaN
3   4   n4     NaN      NaN
4   5   n5     NaN      NaN

In [16]:
df3 = df2[df2['id_new'].notnull()]
df3['changed'] = 1
df3

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   id name  id_new name_new  changed
0   1   n1     7.0       n7        1
1   2   n2     8.0       n8        1

In [19]:
df4 = df2[df2['id_new'].isnull()]
df4['changed'] = 0
df4

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   id name  id_new name_new  changed
2   3   n3     NaN      NaN        0
3   4   n4     NaN      NaN        0
4   5   n5     NaN      NaN        0

In [20]:
df3['id']=df3['id_new']
df3['name']=df3['name_new']
df3

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    id name  id_new name_new  changed
0  7.0   n7     7.0       n7        1
1  8.0   n8     8.0       n8        1

In [21]:
df = pd.concat([df3[['id', 'name','changed']], df4[['id', 'name','changed']]])
df

    id name  changed
0  7.0   n7        1
1  8.0   n8        1
2  3.0   n3        0
3  4.0   n4        0
4  5.0   n5        0